#dropdownQuestion{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; 
    width: 200px;
    background-color: #fff;
    padding:10px;
}
#dropdownButtonQuestion{
    width: 50px; 
    height:50px; 
    position:absolute; 
    top:-35%; 
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.rounded-lg{
    border-radius: 20px !important;
}
.rounded-lg-cardbody{
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
.textarea-cus{
    width: 85%;
    resize: none;
    background-color: inherit;
    margin-left: 15px;
    color:white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: none;
}
.form-control-cus{
    outline: none;
    border: none;
    box-shadow: none !important;
    color:black !important;
    padding-bottom: 5px;
    font-weight: 600;

}
.addAnsBtn{
    width: 25px; 
    height:25px; 
    position:absolute; 
    top:-55%; 
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}