
.reaccion-container {
  width: 160px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  border-radius: 10px;
  transition: all 0.4s ease-out;
  padding-bottom: 1rem;
  cursor: pointer;
}

.reaccion-container:hover {
  background-color: #506ad483;
}

.reaccion-imagen {
  width: 100%;
  width: 100%;
}

.reaccion-coin {
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.reaccion-container:hover .reaccion-coin {
  animation-name: girar;
  transition: transform 2s;
}
.valor-reaccion{
  font-weight: 600;
  color: #40444b;
}

@keyframes girar {
  0% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
  8% {
    transform: rotate3d(0, 1, 0, 40deg);
  }
  12% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  24% {
    transform: rotate3d(0, 1, 0, 130deg);
  }
  40% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  56% {
    transform: rotate3d(0, 1, 0, 220deg);
  }
  74% {
    transform: rotate3d(0, 1, 0, 270deg);
  }
  88% {
    transform: rotate3d(0, 1, 0, 320deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 320deg);
  }
}

.container-comentario {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 1rem;
  position: relative;
}

.jump-row {
  flex: 0 0 auto;
  width: 23%;
}

.comentario {
  width: 90%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.punto {
  background-color: #506ad4;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  align-self: center;
  margin-left: auto;
}

.linea {
  background-color: #506ad4;
  width: 4px;
  height: calc(100% + 20px);
  position: absolute;
  top: 0%;
  left: 3.5%;
}

.primero {
  height: calc(50% + 20px) !important;
  top: 50% !important;
}

.ultimo {
  height: calc(45% + 20px) !important;
}

.wrapper {
  width: 80%;
  margin: 10px auto;
  display: block;
  position: relative;
}

/* ===================================== */

.comentarios-section {
  border-left: 1px solid #e1e1e1;
  position: relative;
  padding-bottom: 16rem;
  margin-left: 1rem;
}

.coemntario-wrapper-modal {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.comentario-modal-container {
  background-color: #fff;
  padding: 2rem;
  border-top: 1px solid #e1e1e1;
}

/* ===================================== */

.btn-close {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 25%);
  border: none;
  margin-right: 20px !important;
}

/* =========================== */

.modal-open {
  overflow: hidden;
}

/* =========================== */

.reacciones {
  background-color: #506ad4;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: all 0.5s ease-out, margin-right 1s ease-out;
  margin-right: 1.4rem;
}

.reacciones:hover {
  background-color: #f2cc39;
  color: #506ad4;
  padding: 23px;
  transform: rotate(360deg);
  margin-right: 1rem;
}

.reacciones>i {
  font-size: 24px;
  color: #ffffff
}

.comentarios-wrapper {
  max-height: 440px;
  overflow: auto;
}

/* =========================== */

.reaccion-comentario {
  background-color: #ececec;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reaccion-comentario:hover {
  background-color: #d1d1d1;
}

.reaccion-comentario>span {
  color: #40444b;
  font-weight: 600;
  margin-left: 1rem;
  font-size: 16px;
}

.reaccion-comentario .angry-image {
  background-image: url("/images/icons/angry.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
}

.reaccion-comentario .ok-image {
  background-image: url("/images/icons/ok.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
}

.reaccion-comentario .serious-image {
  background-image: url("/images/icons/serious.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
}

.reaccion-comentario .toxic-image {
  background-image: url("/images/icons/toxic.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
}

/* =========================== */

.likes {
  padding: 18px 10px;
  background-color: #ececec;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.likes:hover {
  background-color: #d1d1d1;
}

.likes>span {
  color: #40444b;
  font-weight: 600;
  margin-left: 1rem;
  font-size: 16px;
}

.likes>i {
  font-size: 24px;
  color: #506ad4
}

/* =========================== */

.dislikes {
  padding: 18px 10px;
  background-color: #ececec;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.dislikes:hover {
  background-color: #d1d1d1;
}

.dislikes>span {
  color: #40444b;
  font-weight: 600;
  margin-left: 1rem;
  font-size: 16px;
}

.dislikes>i {
  font-size: 24px;
  color: #40444b
}

/* =========================== */

.container-img-coment {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}

.img-comentario {
  width: 100%;
}

.container-img-coment {}

/* =========================== */

.comments-trigger {
  background-color: #363636;
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.comments-trigger:hover {
  background-color: #555c66;
  color: #f2cc39;
}

.comments-trigger>i {
  animation-duration: 0.5s;
  animation-iteration-count: 3;
}

.comments-trigger:hover>i {
  animation-name: tambaleo;
  transition: transform 1s;
}

@keyframes tambaleo {
  0% {
    transform: rotate(-10deg);
  }
  15% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

/* =========================== */

.acciones-opinion {
  height: 34% !important;
  margin: 0px 12px;
  bottom: 1rem;
}

.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 627px;
}

.u-section-1 .u-group-1 {
  min-height: 487px;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
  text-shadow: 0 0px 0 rgba(0, 0, 0, 0);
  width: 339px;
  margin: 56px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 30px 30px;
  box-shadow: 0px 0px 6px 1px #dcdcdc;
}

.u-section-1 .u-image-1 {
  width: 73px;
  height: 73px;
  /* background-image: url("../images/Perfil/michi.jpg"); */
  background-position: 50% 50%;
  margin: 7px auto 0 -12px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  margin: -69px 49px 0 72px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 62px 0 72px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 39px 207px 0 -12px;
}

.u-section-1 .u-group-2 {
  width: 307px;
  min-height: 80px;
  margin: 9px -14px 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 60px;
}

.u-section-1 .u-image-2 {
  width: 58px;
  min-height: 57px;
  background-color: #46B6CF;
  background-image: url("../images/Icons/computer2.png");
  margin: 8px auto 0 -26px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: -61px -33px 0 41px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 15px 90px 0 50px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -19px -60px 0 210px;
}

.u-section-1 .u-group-4 {
  width: 765px;
  min-height: 330px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-group-5 {
  width: 683px;
  min-height: 78px;
  margin: -21px -14px 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 60px;
}

.u-section-1 .u-image-3 {
  width: 58px;
  min-height: 57px;
  /* background-image: url("../images/Perfil/Scarlett.jpg"); */
  margin: 11px auto 0 -24px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -22px 466px 0 50px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -16px -39px 0 577px;
}

.u-section-1 .u-text-9 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: -22px 390px 0 132px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1rem;
  margin: -58px 120px 0 44px;
}

.u-section-1 .u-group-7 {
  width: 682px;
  min-height: 74px;
  margin: 5px -14px 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-image-4 {
  width: 58px;
  min-height: 53px;
  background-color: #F2CC39;
  background-image: url("../images/Icons/computer2.png");
  margin: 10px auto 0 -23px;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: -53px 149px 0 46px;
}

.u-section-1 .u-text-12 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: -24px -9px 0 566px;
}

.u-section-1 .u-text-13 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 10px -9px 0 581px;
}

.u-section-1 .u-text-14 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: -19px 413px 0 46px;
}

.u-section-1 .u-group-9 {
  min-height: 140px;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 735px;
  }
  .u-section-1 .u-group-1 {
    min-height: 472px;
    width: 290px;
    margin-top: 41px;
  }
  .u-section-1 .u-image-1 {
    width: 61px;
    height: 61px;
    margin-top: 22px;
    margin-right: 189px;
    margin-left: -20px;
  }
  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 0.875rem;
    margin-top: -61px;
    margin-right: 0;
    margin-left: 48px;
  }
  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 2px;
    margin-right: 14px;
    margin-left: 48px;
  }
  .u-section-1 .u-text-3 {
    margin-top: -249px;
    margin-right: 0;
  }
  .u-section-1 .u-group-2 {
    width: 239px;
    min-height: 78px;
    margin-top: 250px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .u-section-1 .u-image-2 {
    width: 47px;
    min-height: 46px;
    margin-top: 17px;
  }
  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 0.75rem;
    margin-top: -45px;
    margin-right: -60px;
    margin-left: 34px;
  }
  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 7px;
    margin-right: 52px;
    margin-left: 28px;
  }
  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: -43px;
    margin-left: 145px;
  }
  .u-section-1 .u-group-4 {
    width: 624px;
    min-height: 330px;
  }
  .u-section-1 .u-container-layout-4 {
    padding-bottom: 20px;
  }
  .u-section-1 .u-group-5 {
    width: 521px;
    min-height: 79px;
    margin-top: 0;
    margin-left: 0;
  }
  .u-section-1 .u-image-3 {
    width: 60px;
    min-height: 60px;
    margin-top: 9px;
    margin-left: -23px;
  }
  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -28px;
    margin-right: 312px;
    margin-left: 45px;
  }
  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -38px;
    margin-right: -19px;
    margin-left: 398px;
  }
  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-right: -19px;
    margin-left: 398px;
  }
  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -44px;
    margin-right: 106px;
    margin-left: 41px;
  }
  .u-section-1 .u-group-7 {
    width: 507px;
    min-height: 90px;
    margin-top: 9px;
  }
  .u-section-1 .u-image-4 {
    width: 61px;
    min-height: 59px;
    margin-top: 19px;
    margin-left: -21px;
  }
  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -59px;
    margin-right: 106px;
    margin-left: 55px;
  }
  .u-section-1 .u-text-12 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -22px;
    margin-right: 0;
    margin-left: 80%;
  }
  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
    margin-left: 396px;
  }
  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: 229px;
    margin-left: 55px;
  }
  .u-section-1 .u-group-9 {
    min-height: 145px;
    margin-top: 17px;
  }
  .u-section-1 .u-container-layout-9 {
    padding-bottom: 30px;
  }
  .u-section-1 .u-text-15 {
    font-size: 1.125rem;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 682px;
  }
  .u-section-1 .u-group-1 {
    min-height: 863px;
    margin-top: 42px;
  }
  .u-section-1 .u-text-1 {
    margin-right: 30px;
    margin-left: 78px;
  }
  .u-section-1 .u-text-2 {
    margin-left: 35px;
  }
  .u-section-1 .u-group-2 {
    width: 120px;
    margin-right: 0;
    margin-left: 0;
  }
  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
  }
  .u-section-1 .u-image-2 {
    min-height: 232px;
    margin-top: 0;
  }
  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-right: 3px;
    margin-left: 32px;
  }
  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-left: 174px;
  }
  .u-section-1 .u-group-4 {
    min-height: 330px;
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-section-1 .u-container-layout-4 {
    padding-top: 1px;
    padding-bottom: 0;
  }
  .u-section-1 .u-group-5 {
    min-height: 103px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-section-1 .u-container-layout-5 {
    padding-right: 30px;
  }
  .u-section-1 .u-image-3 {
    width: 57px;
    min-height: 57px;
    margin-top: 17px;
    margin-left: -22px;
  }
  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .u-section-1 .u-text-7 {
    margin-top: -19px;
    margin-right: 466px;
    margin-left: 44px;
  }
  .u-section-1 .u-text-8 {
    margin-top: -50px;
    margin-right: -9px;
    margin-left: 532px;
  }
  .u-section-1 .u-text-9 {
    margin-top: 12px;
    margin-right: 392px;
    margin-left: 114px;
  }
  .u-section-1 .u-text-10 {
    margin-top: -53px;
    margin-right: 365px;
    margin-left: 39px;
  }
  .u-section-1 .u-group-7 {
    min-height: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-section-1 .u-image-4 {
    width: 63px;
    min-height: 51px;
    margin-top: 9px;
    margin-left: -20px;
  }
  .u-section-1 .u-text-11 {
    margin-top: -54px;
    margin-left: 58px;
    margin-right: 58px;
  }
  .u-section-1 .u-text-12 {
    margin-top: -25px;
    margin-right: -188px;
    margin-left: 770px;
  }
  .u-section-1 .u-text-13 {
    margin-top: -22px;
    margin-left: 540px;
  }
  .u-section-1 .u-text-14 {
    margin-top: 9px;
    margin-right: 79px;
    margin-left: 58px;
  }
  .u-section-1 .u-group-9 {
    min-height: 145px;
  }
  .u-section-1 .u-text-15 {
    margin-top: -9px;
  }
  .col-md-100 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .comentarios-section {
    width: 100% !important;
    margin: 0;
  }
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }
  .u-section-1 .u-group-1 {
    margin-top: 648px;
  }
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .u-section-1 .u-image-2 {
    min-height: 57px;
  }
  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-1 .u-group-4 {
    min-height: 330px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-1 .u-group-5 {
    min-height: 91px;
    width: 504px;
    margin-top: 11px;
    margin-right: -10px;
    margin-left: 26px;
  }
  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .u-section-1 .u-image-3 {
    margin-top: 5px;
  }
  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
  }
  .u-section-1 .u-text-7 {
    margin-top: -28px;
    margin-right: 177px;
  }
  .u-section-1 .u-text-8 {
    margin-top: -53px;
    margin-right: 9px;
    margin-left: 424px;
  }
  .u-section-1 .u-text-9 {
    margin-top: 15px;
    margin-right: 236px;
  }
  .u-section-1 .u-text-10 {
    margin-right: 209px;
  }
  .u-section-1 .u-group-7 {
    min-height: 88px;
    width: 512px;
    margin-top: 10px;
    margin-right: -10px;
    margin-left: 18px;
  }
  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-1 .u-image-4 {
    min-height: 53px;
    margin-top: 17px;
    margin-left: 0;
  }
  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-1 .u-text-11 {
    width: 349px;
    margin-top: -56px;
    margin-left: auto;
    margin-right: auto;
  }
  .u-section-1 .u-text-12 {
    margin-left: 622px;
  }
  .u-section-1 .u-text-13 {
    margin-top: -23px;
    margin-right: 9px;
    margin-left: 439px;
  }
  .u-section-1 .u-text-14 {
    margin-top: 14px;
    margin-right: 140px;
    margin-left: 72px;
  }
  .u-section-1 .u-group-9 {
    margin-top: 18px;
    min-height: 175px;
  }
  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-1 .u-text-15 {
    font-size: 1.25rem;
    margin-top: -25px;
  }
}

@media (max-width: 575px) {
  .jump-row {
    flex: 0 0 auto;
    width: 50%;
  }
  .padding-none-xs {
    padding: 0 !important;
  }
  .full-xs {
    width: 100% !important;
  }
  .u-section-1 .u-group-1 {
    margin-top: 836px;
  }
  .u-section-1 .u-group-4 {
    min-height: 220px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-1 .u-group-5 {
    min-height: 68px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-section-1 .u-image-3 {
    width: 45px;
    min-height: 45px;
    margin-top: 8px;
    margin-left: 0;
  }
  .u-section-1 .u-text-7 {
    margin-top: -22px;
    margin-right: 176px;
    margin-left: 53px;
  }
  .u-section-1 .u-text-8 {
    font-size: 0.625rem;
    margin-top: -39px;
    margin-right: 0;
    margin-left: 250px;
  }
  .u-section-1 .u-text-9 {
    font-size: 0.625rem;
    margin-top: 7px;
    margin-right: 0;
    margin-left: 248px;
  }
  .u-section-1 .u-text-10 {
    font-size: 0.875rem;
    margin-top: -41px;
    margin-right: 87px;
    margin-left: 53px;
  }
  .u-section-1 .u-group-7 {
    min-height: 81px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-section-1 .u-image-4 {
    width: 49px;
    min-height: 46px;
    margin-top: 8px;
  }
  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -49px;
    margin-right: 21px;
    margin-left: 66px;
  }
  .u-section-1 .u-text-12 {
    margin-left: 468px;
  }
  .u-section-1 .u-text-13 {
    font-size: 0.625rem;
    margin-top: -6px;
    margin-right: 152px;
    margin-left: 66px;
  }
  .u-section-1 .u-text-14 {
    font-size: 0.625rem;
    width: 163px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-section-1 .u-group-9 {
    min-height: 180px;
  }
  .u-section-1 .u-text-15 {
    font-size: 1.125rem;
  }
  .col-xss-center {
    justify-content: center !important;
    align-items: center !important;
  }
  .btn-xss {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .comments-reactions {
    margin-bottom: 2rem;
  }
}

.justiy-content-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.opinion {
  margin-bottom: 1rem;
}

.container-info {
  position: sticky;
  top: 1rem;
  right: 0;
  height: 450px !important;
}