@media (max-width: 768px) {
  #menu-cus{
    display: none !important;
  }
  #menu-cus-bottom{
    display: block !important;
  }
  #custom-menu{
    display: block !important;
    background:#fff;
    height:80px;
    width: 100%;

  }
  #infoDescUp{
    display: none !important;
  }
  #infoDescBottom{
    display: block !important;
  }
  .imagenPerfil{
    height: 12vh !important;
  }
}
#menu-cus{
  display: block;
}
#menu-cus-bottom{
  display: none;
}
#custom-menu{
  display: none;
  background:#fff;
  height:80px;
  width: 100%;
}
#infoDescUp{
  display: block;
}
#infoDescBottom{
  display: none;
}
.btn-cerrar{
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.25);
  border: none;
}
#buscarInputModal{
  border: none !important;
  border-radius: 20px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25);
  width: 80%;
  margin:0 auto;
}
.rounded-cus-left{
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.rounded-cus{
  border-radius: 16px;
}
.imagenPerfil{
  height: 12vw;
}
.stand{
  height:100px;
  overflow-x: scroll;
  min-width: 100%;
}
.libroCus{
  position: relative;
  background-color: #dc3545;
  border: 2px solid #141414;
  border-radius: 3px;
  width: 22px;
  margin:0 5px;
  height: 100%;
  display: inline-block;
}
.lineBookO{
  width: 100%;
  height: 10px;
  background-color: darkorange;
}

.lineFlipText{
  position: absolute;
  font-size: 10px;
  transform: rotate(-90deg);
  overflow: hidden;
  text-overflow: ellipsis; 
  color:white;
  top: 40px;
  width: 45px;
  left: -15px;
}