@media (max-width: 768px) {
  #menu-cus{
    display: none !important;
  }
  #menu-cus-bottom{
    display: block !important;
  }
  #custom-menu{
    display: block;
  }
}
#menu-cus{
  display: block;
}
#menu-cus-bottom{
  display: none;
}
#custom-menu{
  display: none;
  background:#fff;
  height:150px;
  width: 100px;
}