.image-bg-body {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 100%;
    background-color: #506ad483;
    background-image: url('/images/Patterns/01.png');
    background-size: cover;
    filter: blur(20px);
    
}
.allcontainer{
    z-index: 5;
}
.coins-container img{
    width: 200px;
}

.header-tier{
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #e4e4e4 solid;
}
.coins-container{
    border-radius: 20px;
    border: none !important;
    box-shadow: 0px 5px 15px 2px #949494;
    background-color: #f8f8f8 !important;
    justify-content: center;
    align-items: center;
}
.rounded-lg{
    border-radius: 20px !important;
}
.botonComprar{
    width: 80% !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}
.bolita{
    position: absolute;
    top: -20px;
    right: -10px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    color:white;
    text-align: center;
    line-height: 2.3;
    font-size: 24px;
}
