<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <title>Buscar</title>
  <%- include("headers") %>
    <link rel="stylesheet" href="/css/buscar.css" media="screen">
</head>

<body class="u-body">
  <%- include('menu')%>
  
    <section class="u-align-left u-clearfix u-custom-color-1 u-section-1" id="sec-31be">
      
        
    </section>
    <%- include('menuBottom')%>
</body>

</html>
