<nav class="navbar navbar-expand-lg navbar-light bg-primary" id="menu-cus">
    <div class="container-fluid">
        <div class="row w-100 mx-0">
            <div class="col-2">
                <a class="navbar-brand" href="#">
                    <img src="/images/logo.png" style="width:50px; height:50px;">
                </a>
            </div>
            <div class="col-4">
                <div class="bg-white rounded-cus shadow-lg h-75 p-2 mt-2" data-bs-toggle="modal" data-bs-target="#buscarModal" role="button">
                    <span class="text-muted">Buscar...</span>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <% if(user.rol == 0){%>
                    <h3 class="my-0"><a class="me-4 text-white p-0 lh-lg nav-link" href="/home/show"><i class="fas fa-home"></i> Home</a></h3>
                    <h3 class="my-0"><a class="me-4 text-white p-0 lh-lg nav-link" href="/cursos/show"><i class="fas fa-book"></i> Cursos</a></h3>
                    <h3 class="my-0"><a class="me-4 text-white p-0 lh-lg nav-link" href="/perfil/show"><i class="fas fa-user"></i> Perfil</a></h3>
                <%}%>
                <% if(user.rol == 1){%>
                    <h3 class="my-0"><a class="me-4 text-white p-0 lh-lg nav-link" href="/encuestas"><i class="fas fa-book"></i> Encuestas</a></h3>
                    <h3 class="my-0"><a class="me-4 text-white p-0 lh-lg nav-link" href="/profe/show"><i class="fas fa-user"></i> Perfil</a></h3>
                <%}%>
                
            </div>
        </div>
    </div>
</nav>
<div id="custom-menu">
    <div class="row w-100 mx-0 d-flex pt-3">
        <div class="col-4"></div>
        <div class="col-4 d-flex justify-content-center">
            <h1 class="text-primary my-0 fw-bold"><%= pag%></h1>
        </div>
        <div class="col-4 d-flex justify-content-center ">
            <div data-bs-toggle="modal" data-bs-target="#buscarModal">
                <i class="fas fa-search text-primary fa-2x"></i>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="buscarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <div></div>
                <div class="w-50">
                    <input type="text" class="form-control" id="buscarInputModal" 
                    placeholder="Buscar..." onkeyup="buscarCursos()">
                </div>
                <button type="button" class="btn-cerrar" data-bs-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <div class="u-clearfix u-sheet u-sheet-1" id="cursosFiltrados">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const animateCSS = (element, animation, prefix = 'animate__') =>
    // We create a Promise and return it
    new Promise((resolve, reject) => {
        const animationName = `${prefix}${animation}`;
        const node = document.querySelector(element);

        node.classList.add(`${prefix}animated`, animationName);

        // When the animation ends, we clean the classes and resolve the Promise
        function handleAnimationEnd(event) {
        event.stopPropagation();
        node.classList.remove(`${prefix}animated`, animationName);
        resolve('Animation ended');
        }

        node.addEventListener('animationend', handleAnimationEnd, {once: true});
    });
</script>