<!DOCTYPE html>
<html id="html">

<head>
    <title>Home</title>
    <%- include("../Global/headers") %>
        <link rel="stylesheet" href="/css/paquetes.css" media="screen">
        <link rel="stylesheet" href="/css/ejemplo.css">
</head>

<body class="u-body">
    <%- include('../Global/menu')%>
    <div class="image-bg-body">

    </div>
        <script src="/node_modules/sweetalert2/dist/sweetalert2.all.js"></script>
        <div class="container-fluid px-5 pt-5 mt-5">
            <div class="row px-5">
                <div class="col ">
                    <div class="card coins-container">
                        <div class="header-tier">
                            <span class="tier">Tier</span>
                            <span class="tier-number">1</span>
                        </div>
                        <div class="card-body border-top">
                        </div>
                    </div>
                </div>
                <div class="col ">
                    <div class="card coins-container">

                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="col ">

                    <div class="card coins-container">

                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="col ">
                    <div class="card coins-container">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<%- include('../Global/menuBottom')%>

</html>