<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="../css/nicepage.css" >
    <link rel="stylesheet" href="../css/login.css" >
    <script class="u-script" type="text/javascript" src="../js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.13.2, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
  </head>
  <body data-home-page="Home.html" data-home-page-title="Home" class="u-body">
    <section class="u-align-center u-clearfix u-section-1" id="sec-9c91">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-group u-radius-13 u-shape-round u-white u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <p class="u-text u-text-1">Login</p>
            <p class="u-text u-text-default u-text-2">Inicia sesión</p>
            <div class="u-form u-form-1">
              <form action="#" method="POST" class="u-clearfix u-form-spacing-29 u-form-vertical u-inner-form" style="padding: 15px;" source="custom" name="form">
                <div class="u-form-group u-form-username u-form-group-1">
                  <label for="username-6797" class="u-form-control-hidden u-label">username</label>
                  <input type="text" placeholder="username" id="username-6797" name="username" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-20" required="">
                </div>
                <div class="u-form-password u-form-group u-form-group-2">
                  <label for="password-6797" class="u-form-control-hidden u-label">password</label>
                  <input type="password" placeholder="password" id="password-6797" name="password" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-20" required="">
                </div>
                <div class="u-align-right u-form-group u-form-submit u-form-group-3">
                  <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-gradient u-none u-radius-20 u-text-white u-btn-1">Login<br>
                  </a>
                  <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
                <input type="hidden" value="" name="recaptchaResponse">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-8379"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
      </div>
    </footer>
    
  </body>
</html>