<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <title>Home</title>
    <%- include("headers") %>
        <link rel="stylesheet" href="../css/Landing.css" media="screen">
</head>

<body class="u-body">
    <%- include("menu") %>

        <section class="u-clearfix u-palette-5-light-3 u-section-1" id="sec-aa93">
            <div class="u-clearfix u-sheet u-sheet-1 justiy-content-between">
                <div class="container-opions">
                    <div 
                        class="opinion u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-radius-4 u-shape-round u-white u-group-4">
                        <div class="u-container-layout u-container-layout-4">
                            <div
                                class="u-align-left u-border-1 u-border-palette-5-light-3 u-container-style u-expanded-width-md u-expanded-width-xs u-group u-shape-rectangle u-white u-group-5">
                                <div class="u-container-layout u-container-layout-5">
                                    <div class="u-container-style u-group u-image u-shape-circle u-image-3"
                                        data-image-width="2000" data-image-height="1333">
                                        <div class="u-container-layout u-container-layout-6"></div>
                                    </div>
                                    <p class="u-text u-text-palette-5-base u-text-7">05/05/2021&nbsp;</p>
                                    <p class="u-text u-text-palette-5-base u-text-8">II CICLO</p>
                                    <p class="u-text u-text-palette-5-light-1 u-text-9">8:40 pm</p>
                                    <p class="u-text u-text-palette-5-dark-2 u-text-10">David Aguilar Rojas</p>
                                </div>
                            </div>
                            <div
                                class="u-container-style u-expanded-width-md u-expanded-width-xs u-group u-shape-rectangle u-white u-group-7">
                                <div class="u-container-layout u-container-layout-7">
                                    <div class="u-container-style u-group u-image u-radius-4 u-shape-round u-image-4"
                                        data-image-width="2000" data-image-height="1333">
                                        <div class="u-container-layout u-container-layout-8"></div>
                                    </div>
                                    <p class="u-text u-text-palette-5-dark-2 u-text-11">Estructuras de datos</p>
                                    <p
                                        class="u-hidden-md u-hidden-sm u-hidden-xs u-text u-text-palette-5-light-1 u-text-12">
                                        4 créditos</p>
                                    <p class="u-text u-text-palette-5-light-1 u-text-13">EIF-404</p>
                                    <p class="u-text u-text-palette-5-light-1 u-text-14">UNIVERSIDAD NACIONAL</p>
                                </div>
                            </div>
                            <div style="border-top: 1px solid #e1e1e1"
                                class=" u-container-style u-expanded-width u-group u-shape-rectangle u-white u-group-9">
                                <div class="u-container-layout u-valign-top-lg u-container-layout-9">
                                    <p class="u-text u-text-15">Lorem Ipsum&nbsp;is simply dummy text of the printing
                                        and
                                        typesetting
                                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s, when an unknown
                                        printer took a galley of type and scrambled it to make a type specimen book. It
                                        has
                                        survived not only
                                        five centuries, but also the leap into electronic typesetting, remaining
                                        essentially
                                        unchanged. It was
                                        popularised in the 1960s with the release of Letraset sheets containing Lorem
                                        Ipsum
                                        passages, and more
                                        recently with desktop publishing software like Aldus PageMaker including
                                        versions of
                                        Lorem Ipsum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="container-info u-container-style u-group u-hidden-md u-hidden-sm u-hidden-xs u-radius-4 u-shape-round u-white ">
                    <div class="u-container-layout u-container-layout-1">
                        <div alt="" class="u-image u-image-circle u-image-1" data-image-width="1280"
                            data-image-height="851"></div>
                        <p class="u-text u-text-1">Nicole Canet Porras</p>
                        <p class="u-text u-text-2">ncanet16@gmail.com</p>
                        <p class="u-text u-text-palette-5-dark-1 u-text-3">Tus cursos</p>
                        <div class="u-align-left u-container-style u-group u-radius-1 u-shape-round u-white u-group-2">
                            <div class="u-container-layout u-container-layout-2">
                                <div class="u-container-style u-group u-image u-shape-circle u-image-2"
                                    data-image-width="2000" data-image-height="1333">
                                    <div class="u-container-layout u-container-layout-3"></div>
                                </div>
                                <p class="u-text u-text-palette-5-dark-2 u-text-4">Estructuras de datos</p>
                                <p class="u-text u-text-palette-5-base u-text-5">4 CRÉDITOS</p>
                                <p class="u-text u-text-palette-5-base u-text-6">II CICLO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</html>