<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h3>Login</h3>
    <!-- <form action="/login" method="get"> -->
        <input type="text" id="username" placeholder="username">
        <input type="password" id="password" placeholder="pass">
        <button id="accion">send</button>
    <!-- </form> -->
    <div id="el">

    </div>
    <script>
        $('#accion').on('click',function(){ 
            let data = {
                username: $('#username').val(),
                password: $('#password').val()
            }
            $.ajax({
                type: "GET",
                data: data,
                url: "/login",
                contentType: "application/json"
            }).then((response) => {
                $('#el').append(response.user.username);

            }, (error) => {

            });
        });
    </script>
</body>
</html>