<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <title>Perfil</title>
    <%- include("headers") %>
    <link rel="stylesheet" href="/css/Perfil.css" media="screen">
  </head>
  <body class="u-body">
    <%- include('menu')%>

    <section class="u-align-left u-clearfix u-custom-color-1 u-section-1" id="sec-31be">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-top-sm u-container-layout-1"><span class="u-border-2 u-border-palette-1-base u-icon u-icon-circle u-spacing-13 u-text-palette-3-base u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 511.095 511.095" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2e50"></use></svg><svg class="u-svg-content" viewBox="0 0 511.095 511.095" id="svg-2e50"><g id="XMLID_52_"><path id="XMLID_352_" d="m106.547 150v219.667l122.023-5.309 27.977-274.357 10-38.03-10-51.971c-82.71 0-150 67.29-150 150z" fill="#dc8758"></path><path id="XMLID_358_" d="m406.547 150c0-82.71-67.29-150-150-150v90.001l35.32 279.678 114.68-.012z" fill="#bc6337"></path><path id="XMLID_354_" d="m234.628 289.175-24.081 10.554v61.366h-10.953l55.953 44.916v-94.236z" fill="#fcc"></path><path id="XMLID_350_" d="m299.76 361.095v-60.94h-25.713l-18.5 11.62v94.236l.484.387 59.516-45.303z" fill="#ffb3b3"></path><path id="XMLID_953_" d="m375.547 361.462-15 74.633 15 45 30 15 45-15v-37.33c0-43.073-32.938-78.432-75-82.303z" fill="#2e2e4d"></path><path id="XMLID_951_" d="m450.547 481.095h-75l-15 15 15 15h75z" fill="#ffb3b3"></path><path id="XMLID_952_" d="m135.547 361.462c-42.061 3.871-75 39.23-75 82.303v37.33l45 15 30-15 15-45z" fill="#3d4566"></path><path id="XMLID_1089_" d="m60.547 481.095v30h75l11.25-11.25-11.25-18.75z" fill="#fcc"></path><path id="XMLID_633_" d="m255.547 405.917-45-44.822c-73.02 0-69.494-.139-75 .367v149.633h120l10-33.666z" fill="#4d5e80"></path><path id="XMLID_544_" d="m299.76 361.095-43.73 45.304-.483-.482v105.178h120c0-18.808 0-130.759 0-149.633-5.405-.497-1.744-.367-75.787-.367z" fill="#3d4566"></path><path id="XMLID_310_" d="m225.579 129.275c-16.311 7.767-37.98-.153-38.633-.396l-20.398-7.944c.004 15.233-.084 101.571.191 105.598 3.075 47.866 42.758 84.148 89.809 84.148l10-110.34-10-110.34c-.001-.001-23.181 35.564-30.969 39.274z" fill="#ffe0e0"></path><path id="XMLID_306_" d="m256.547 260h-30v-30h30l10 15z" fill="#fcc"></path><path id="XMLID_303_" d="m331.957 127.879c-31.301-.854-66.027-26.718-66.359-26.968l-9.051-10.911v220.68c45.619 0 82.932-34.003 89.089-77.192 1.203-8.403.871-79.281.911-105.211z" fill="#fcc"></path><path id="XMLID_302_" d="m256.547 230h30v30h-30z" fill="#ffb3b3"></path>
</g></svg></span>
                  <h1 class="u-text u-text-custom-color-5 u-text-default u-text-1">@ncanet16</h1>
                  <h4 class="u-text u-text-default u-text-2">Nicole Canet Porras&nbsp;</h4>
                  <p class="u-text u-text-custom-color-5 u-text-default-lg u-text-default-md u-text-default-xl u-text-3">Ingeniería en Sistemas de Información - Universidad Nacional&nbsp;</p>
                  <a href="https://nicepage.com/k/card-html-templates" class="u-btn u-btn-round u-button-style u-hover-custom-color-3 u-palette-3-base u-radius-10 u-text-body-alt-color u-text-hover-white u-btn-1">Editar perfil</a>
                  <p class="u-text u-text-custom-color-5 u-text-default u-text-4">ncanet16@gmail.com</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom-xl u-valign-top-lg u-container-layout-2">
                  <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-table u-table-responsive u-table-1">
                    <table class="u-table-entity">
                      <colgroup>
                        <col width="100%">
                      </colgroup>
                      <tbody class="u-table-body">
                        <tr style="height: 92px;">
                          <td class="u-border-5 u-border-custom-color-5 u-table-cell"></td>
                        </tr>
                        <tr style="height: 93px;">
                          <td class="u-border-5 u-border-custom-color-5 u-table-cell"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-4 u-hidden-lg u-hidden-xl u-section-2" id="sec-cc03">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://nicepage.com/c/architecture-building-website-templates" class="u-align-center u-btn u-button-style u-custom-font u-font-lato u-none u-text-white u-btn-1"> &nbsp;</a>
        <a href="https://nicepage.com/c/architecture-building-website-templates" class="u-align-center u-btn u-button-style u-custom-font u-font-lato u-none u-text-white u-btn-2"><span class="u-icon u-icon-1"><svg class="u-svg-content" viewBox="-42 0 512 512.002" style="width: 1em; height: 1em;"><path d="m210.351562 246.632812c33.882813 0 63.222657-12.152343 87.195313-36.128906 23.972656-23.972656 36.125-53.304687 36.125-87.191406 0-33.875-12.152344-63.210938-36.128906-87.191406-23.976563-23.96875-53.3125-36.121094-87.191407-36.121094-33.886718 0-63.21875 12.152344-87.191406 36.125s-36.128906 53.308594-36.128906 87.1875c0 33.886719 12.15625 63.222656 36.132812 87.195312 23.976563 23.96875 53.3125 36.125 87.1875 36.125zm0 0"></path><path d="m426.128906 393.703125c-.691406-9.976563-2.089844-20.859375-4.148437-32.351563-2.078125-11.578124-4.753907-22.523437-7.957031-32.527343-3.308594-10.339844-7.808594-20.550781-13.371094-30.335938-5.773438-10.15625-12.554688-19-20.164063-26.277343-7.957031-7.613282-17.699219-13.734376-28.964843-18.199219-11.226563-4.441407-23.667969-6.691407-36.976563-6.691407-5.226563 0-10.28125 2.144532-20.042969 8.5-6.007812 3.917969-13.035156 8.449219-20.878906 13.460938-6.707031 4.273438-15.792969 8.277344-27.015625 11.902344-10.949219 3.542968-22.066406 5.339844-33.039063 5.339844-10.972656 0-22.085937-1.796876-33.046874-5.339844-11.210938-3.621094-20.296876-7.625-26.996094-11.898438-7.769532-4.964844-14.800782-9.496094-20.898438-13.46875-9.75-6.355468-14.808594-8.5-20.035156-8.5-13.3125 0-25.75 2.253906-36.972656 6.699219-11.257813 4.457031-21.003906 10.578125-28.96875 18.199219-7.605469 7.28125-14.390625 16.121094-20.15625 26.273437-5.558594 9.785157-10.058594 19.992188-13.371094 30.339844-3.199219 10.003906-5.875 20.945313-7.953125 32.523437-2.058594 11.476563-3.457031 22.363282-4.148437 32.363282-.679688 9.796875-1.023438 19.964844-1.023438 30.234375 0 26.726562 8.496094 48.363281 25.25 64.320312 16.546875 15.746094 38.441406 23.734375 65.066406 23.734375h246.53125c26.625 0 48.511719-7.984375 65.0625-23.734375 16.757813-15.945312 25.253906-37.585937 25.253906-64.324219-.003906-10.316406-.351562-20.492187-1.035156-30.242187zm0 0"></path></svg><img></span>&nbsp;
        </a>
        <a href="https://nicepage.com/c/architecture-building-website-templates" class="u-align-center u-btn u-button-style u-custom-font u-font-lato u-none u-text-white u-btn-3"><span class="u-icon u-icon-2"><svg class="u-svg-content" viewBox="0 0 422.912 422.912" x="0px" y="0px" style="width: 1em; height: 1em;"><g><g><path d="M370.176,67.584h-25.6V15.36c-0.266-8.37-6.99-15.094-15.36-15.36H86.528C59.382,0,37.376,22.006,37.376,49.152V373.76    c0,27.146,22.006,49.152,49.152,49.152h283.648c8.483,0,15.36-6.877,15.36-15.36V82.944    C385.536,74.461,378.659,67.584,370.176,67.584z M215.552,230.912l-36.864-30.208c-5.039-3.037-11.345-3.037-16.384,0    l-36.864,30.208V98.304h90.112V230.912z M313.856,67.584H86.528c-10.18,0-18.432-8.252-18.432-18.432    c0-10.18,8.252-18.432,18.432-18.432h227.328V67.584z"></path>
</g>
</g></svg><img></span>
        </a>
        <a href="https://nicepage.com/c/architecture-building-website-templates" class="u-align-center u-btn u-button-style u-custom-font u-font-lato u-none u-text-white u-btn-4"><span class="u-icon u-icon-3" data-animation-name="rubberBand" data-animation-duration="1000" data-animation-delay="0" data-animation-direction=""><svg class="u-svg-content" viewBox="0 0 24 24" style="width: 1em; height: 1em;"><path d="m23.619 10.849-11.1-10.64c-.29-.278-.748-.278-1.038 0l-11.111 10.651c-.235.235-.37.559-.37.89 0 .689.561 1.25 1.25 1.25h1.75v9.5c0 .828.672 1.5 1.5 1.5h4.25c.414 0 .75-.336.75-.75v-6.5c0-.137.112-.25.25-.25h4.5c.137 0 .25.113.25.25v6.5c0 .414.336.75.75.75h4.25c.828 0 1.5-.672 1.5-1.5v-9.5h1.75c.689 0 1.25-.561 1.25-1.25 0-.331-.135-.655-.381-.901z"></path></svg><img></span>
        </a>
      </div>
    </section>
  </body>
</html>