<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <title>Opinion</title>
  <%- include("../Global/headers") %>
  <link rel="stylesheet" href="/css/opinion.css" media="screen">
</head>

<body class="u-body">
  <%- include('../Global/menu')%>
  <section class="u-align-left u-clearfix u-custom-color-1 u-section-1" id="sec-31be">
  
  </section>

  <%- include('../Global/menuBottom')%>
	
</body>

</html>