<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <title>Perfil</title>
    <%- include("../Global/headers") %>
    <link rel="stylesheet" href="/css/Perfil.css" media="screen">
  </head>
  <body class="u-body">
    <%- include('../Global/menu')%>

    <section class="u-align-left u-clearfix u-custom-color-1 u-section-1" id="sec-31be">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap ">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-top-sm">
                  
                  <h1 class="u-text u-text-custom-color-5 u-text-default u-text-1">@ncanet16</h1>
                  <h4 class="u-text u-text-default u-text-2">Nicole Canet Porras&nbsp;</h4>
                  <p class="u-text u-text-custom-color-5 u-text-default-lg u-text-default-md u-text-default-xl u-text-3">Ingeniería en Sistemas de Información - Universidad Nacional&nbsp;</p>
                  <a href="https://nicepage.com/k/card-html-templates" class="u-btn u-btn-round u-button-style u-hover-custom-color-3 u-palette-3-base u-radius-10 u-text-body-alt-color u-text-hover-white u-btn-1">Editar perfil</a>
                  <p class="u-text u-text-custom-color-5 u-text-default u-text-4">ncanet16@gmail.com</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('../Global/menuBottom')%>
  </body>
</html>