<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <title>Perfil</title>
  <%- include("../Global/headers") %>
  <link rel="stylesheet" href="/css/encuesta.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
</head>

<body class="u-body">
    <%- include('../Global/menu')%>
    <div class="modal fade" id="agregarEncuesta" data-bs-backdrop="static" data-bs-keyboard="false" 
	tabindex="-1" aria-labelledby="agregarEncuestaLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content bg-light">
            <div class="modal-header border-bottom-0">
				<div class="row g-3 align-items-center flex-fill">
					<div class="col-auto">
						<h4 class="form-label fw-bold">Titulo de la encuesta</h4>
					</div>
					<div class="col-auto w-50">
						<input type="text" id="tituloEncuesta" class="form-control form-control-sm" aria-describedby="passwordHelpBlock">
					</div>
					<div class="col-auto">
						<div id="passwordHelpBlock" class="form-text">
							eg. <i>"Evaluaciones del primer parcial"</i>
						</div>
					</div>
				</div>
				<button type="button" class="btn-cerrar" data-bs-dismiss="modal">x</button>
            </div>
            <div class="modal-body px-1">
				<div id="alertaVacio"></div>
				<div class="container-fluid">
					<div class="d-flex justify-content-between align-items-start">
						<div class="d-flex justify-content-start" style="width:250px;">
							<img src="/images/Icons/clipboard.png" width="70px" style="height:70px;">
							<div class="d-flex flex-column flex-fill">
								<h4 class="fw-bolder" id="cursoSelected">Curso</h4>
								<span class="sr-only" id="cursoCodigoSelected"></span>
								<small class="text-muted">Encuesta</small>
							</div>
						</div>
						<button type="button" class="btn btn-secondary btn-sm" onclick="agregarEncuesta()">Agregar <i class="fas fa-plus-circle"></i></button>
					</div>
					<div id="preguntas">
						
					</div>
					<div class="bg-primary w-100 mt-5 rounded-3" style="height:30px; position:relative;">
						<div class="bg-primary rounded-circle text-center" id="dropdownButtonQuestion">
							<i class="fas fa-question fa-2x text-white lh-base"></i>
						</div>
						<div id="dropdownQuestion" class="d-flex justify-content-between shadow rounded-3">
							<button type="button" style="width:90px;" onclick="addQUniqueQ()" class="btn btn-sm btn-primary me-2">Seleccion <br>Unica <i class="fas fa-plus"></i></button>
							<button type="button" style="width:90px;" onclick="addQShortA()" class="btn btn-sm btn-primary">Respuesta <br>Corta <i class="fas fa-plus"></i></button>
						</div>
					</div>
				</div>
            </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="verEncuesta" data-bs-backdrop="static" data-bs-keyboard="false" 
	tabindex="-1" aria-labelledby="verEncuestaLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content bg-light">
            <div class="modal-header border-bottom-0"> 
				<button type="button" class="btn-cerrar" data-bs-dismiss="modal">x</button>
            </div>
            <div class="modal-body px-1">
				<div class="container-fluid">
					<div class="d-flex justify-content-start align-items-start">
						<div class="d-flex justify-content-start" style="width:350px;">
							<img src="/images/Icons/clipboard.png" width="70px" style="height:70px;">
							<div class="d-flex flex-column flex-fill">
								<h4 class="fw-bolder" id="cursoSelectedVer">Curso</h4>
								<span class="sr-only" id="cursoCodigoSelectedVer"></span>
								<small class="text-muted">Encuesta</small>
							</div>
						</div>
					</div>
					<div id="EncuestaVer">
						
					</div>
				</div>
            </div>
        </div>
        </div>
    </div>
	<div class="container mt-3 py-2 ">
		<span class="sr-only" id="idUsuario"><%= user.id_usuario%></span>
		<select id="cursosDropdownAgregar" class="form-select form-select-sm">
		</select>
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarEncuesta">
			Agregar Encuesta
		</button>
		<h3 class="mt-5">Encuestas realizadas:</h3>
		<div class="row row-cols-1 row-cols-md-3 g-4 mt-3" id="encuestasList">
			
		</div>
	</div>
	<%- include('../Global/menuBottom')%>
	<script src="/js/clipboard.min.js"></script>
	<script src="/js/encuestas.js"></script>
</body>

</html>