<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Encuesta">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>encuesta</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="encuesta.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.14.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html"
}</script>
    <meta property="og:title" content="encuesta">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
  </head>
  <body class="u-body"><header class="u-align-center-xs u-border-1 u-border-custom-color-4 u-clearfix u-custom-color-4 u-header" id="sec-3581" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-clearfix u-sheet u-sheet-1"><span class="u-hidden-lg u-hidden-xl u-icon u-icon-rectangle u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f9e4"></use></svg><svg class="u-svg-content" viewBox="0 0 56.966 56.966" x="0px" y="0px" id="svg-f9e4" style="enable-background:new 0 0 56.966 56.966;"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
	s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
	c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
	s-17-7.626-17-17S14.61,6,23.984,6z"></path></svg></span>
        <h4 class="u-custom-font u-font-lato u-hidden-lg u-hidden-xl u-text u-text-1">Perfil</h4>
        <form action="#" method="get" class="u-border-1 u-border-grey-15 u-hidden-md u-hidden-sm u-hidden-xs u-radius-5 u-search u-search-right u-white u-search-1">
          <button class="u-search-button" type="submit">
            <span class="u-icon-circle u-search-icon u-text-palette-1-base u-search-icon-1">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b04b"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-b04b" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" class="u-svg-content"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </span>
          </button>
          <input class="u-hidden-md u-search-input" type="search" name="search" value="" placeholder="Search">
        </form>
        <nav class="u-align-left u-hidden-md u-hidden-sm u-hidden-xs u-menu u-menu-dropdown u-nav-spacing-25 u-offcanvas u-menu-1" data-responsive-from="XS">
          <div class="menu-collapse u-custom-font u-font-lato" style="font-size: 2.25rem;">
            <a class="u-button-style u-custom-text-active-color u-custom-text-hover-color u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b92"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-7b92" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-custom-font u-font-lato u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-2 u-text-hover-custom-color-3" href="Home.html" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-2 u-text-hover-custom-color-3" href="Cursos.html" style="padding: 10px 20px;">Cursos</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-2 u-text-hover-custom-color-3" href="Perfil.html" style="padding: 10px 20px;">Perfil</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Cursos.html" style="padding: 10px 20px;">Cursos</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Perfil.html" style="padding: 10px 20px;">Perfil</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav><span class="u-hidden-md u-hidden-sm u-hidden-xs u-icon u-icon-circle u-text-palette-1-base u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b920"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-b920"><g><g><g><path d="m372.37 445.083 4.986-15.705v-401.956c0-11.014-8.929-19.943-19.943-19.943h-283.512c-11.014 0-19.943 8.929-19.943 19.943v401.956l4.986 15.705z" fill="#61a2f9"></path>
</g><g><path d="m357.413 7.479h-15.907v437.604h30.864l4.986-15.705v-401.956c0-11.014-8.929-19.943-19.943-19.943z" fill="#4a81f6"></path>
</g><g><path d="m53.958 429.378v55.2c0 11.014 8.929 19.943 19.943 19.943h283.512c11.014 0 19.943-8.929 19.943-19.943v-55.2z" fill="#dae7ef"></path>
</g><g><path d="m341.505 429.378v19.35c0 11.014-8.929 19.943-19.943 19.943h-267.604v15.907c0 11.014 8.929 19.943 19.943 19.943h283.512c11.014 0 19.943-8.929 19.943-19.943v-55.2z" fill="#c1d5e4"></path>
</g><g><path d="m357.413 512h-283.512c-15.12 0-27.421-12.302-27.421-27.421v-457.158c-.001-15.119 12.301-27.421 27.421-27.421h283.512c15.12 0 27.421 12.302 27.421 27.421v457.157c0 15.12-12.302 27.422-27.421 27.422zm-283.512-497.043c-6.873 0-12.464 5.591-12.464 12.464v457.157c0 6.873 5.591 12.464 12.464 12.464h283.512c6.873 0 12.464-5.591 12.464-12.464v-457.157c0-6.873-5.591-12.464-12.464-12.464z" fill="#98b9d3"></path>
</g><g><path d="m239.776 476.422h-48.239c-4.131 0-7.479-3.348-7.479-7.479s3.348-7.479 7.479-7.479h48.239c4.131 0 7.479 3.348 7.479 7.479s-3.348 7.479-7.479 7.479z" fill="#407093"></path>
</g>
</g><g><circle cx="380.154" cy="376.815" fill="#dd5790" r="85.367"></circle>
</g><g><path d="m427.347 305.683c8.988 13.52 14.235 29.741 14.235 47.193 0 47.147-38.22 85.367-85.367 85.367-17.452 0-33.673-5.247-47.193-14.235 15.293 23.005 41.436 38.174 71.131 38.174 47.147 0 85.367-38.22 85.367-85.367.001-29.695-15.169-55.839-38.173-71.132z" fill="#da387d"></path>
</g><g><path d="m418.66 371.618-58.472-33.759c-4-2.309-9 .577-9 5.196v67.518c0 4.619 5 7.506 9 5.196l58.472-33.759c4-2.309 4-8.082 0-10.392z" fill="#f6f9f9"></path>
</g><g><g><path d="m264.989 310.857h-98.665c-5.523 0-10-4.477-10-10v-71.267h118.665v71.266c0 5.523-4.477 10.001-10 10.001z" fill="#407093"></path>
</g><g><path d="m242.743 229.59v71.295c0 5.507-4.465 9.971-9.971 9.971h32.246c5.507 0 9.971-4.465 9.971-9.971v-71.295z" fill="#2b4d66"></path>
</g><g><g><path d="m91.729 376.45c-1.269 0-2.554-.323-3.732-1.003-3.577-2.065-4.803-6.639-2.737-10.216l27.597-47.8c1.336-2.314 3.805-3.739 6.477-3.739s5.141 1.426 6.477 3.739l27.598 47.8c2.065 3.577.839 8.15-2.737 10.216-3.576 2.064-8.15.839-10.216-2.737l-21.121-36.582-21.12 36.582c-1.387 2.399-3.901 3.74-6.486 3.74z" fill="#f6e266"></path>
</g><g><path d="m119.333 377.618c-4.131 0-7.479-3.348-7.479-7.479v-140.549c0-4.131 3.348-7.479 7.479-7.479s7.479 3.348 7.479 7.479v140.55c0 4.131-3.348 7.478-7.479 7.478z" fill="#f6e266"></path>
</g>
</g><g><circle cx="119.333" cy="315.582" fill="#407093" r="13.394"></circle>
</g><g><path d="m206.995 169.264-114.984 44.315c-6.259 2.412-6.259 11.268 0 13.68l114.984 44.315c5.575 2.149 11.749 2.149 17.324 0l114.984-44.315c6.259-2.412 6.259-11.268 0-13.68l-114.984-44.315c-5.575-2.149-11.749-2.149-17.324 0z" fill="#407093"></path>
</g><g><path d="m339.302 213.579-22.857-8.809-92.126 35.506c-5.575 2.148-11.749 2.148-17.324 0l-92.126-35.506-22.857 8.809c-6.259 2.412-6.259 11.268 0 13.68l114.984 44.315c5.575 2.148 11.749 2.148 17.324 0l114.984-44.315c6.257-2.412 6.257-11.268-.002-13.68z" fill="#2b4d66"></path>
</g>
</g><g><g><path d="m198.772 83.381c-4.131 0-7.479-3.348-7.479-7.479v-26.642c0-4.131 3.348-7.479 7.479-7.479s7.479 3.348 7.479 7.479v26.642c0 4.131-3.348 7.479-7.479 7.479z" fill="#f6f9f9"></path>
</g><g><path d="m232.541 83.381c-4.131 0-7.479-3.348-7.479-7.479v-26.642c0-4.131 3.348-7.479 7.479-7.479s7.479 3.348 7.479 7.479v26.642c0 4.131-3.348 7.479-7.479 7.479z" fill="#f6f9f9"></path>
</g>
</g><g><path d="m333.613 118.806h-235.912c-4.131 0-7.479-3.348-7.479-7.479s3.348-7.479 7.479-7.479h235.912c4.131 0 7.479 3.348 7.479 7.479-.001 4.131-3.349 7.479-7.479 7.479z" fill="#f6f9f9"></path>
</g><g><circle cx="132.727" cy="111.327" fill="#dae7ef" r="22.489"></circle>
</g><g><path d="m140.623 90.267c.922 2.457 1.429 5.117 1.429 7.896 0 12.42-10.069 22.489-22.489 22.489-2.779 0-5.439-.507-7.896-1.429 3.198 8.525 11.419 14.593 21.06 14.593 12.42 0 22.489-10.069 22.489-22.489 0-9.641-6.068-17.862-14.593-21.06z" fill="#c1d5e4"></path>
</g>
</g></svg></span>
      </div></header>
    <section class="u-align-left u-clearfix u-custom-color-1 u-section-1" id="sec-31be">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1"><span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="-32 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6f2e"></use></svg><svg class="u-svg-content" viewBox="-32 0 512 512" id="svg-6f2e"><path d="m365.347656 481.125c0 17.050781-13.824218 30.875-30.875 30.875h-303.597656c-17.050781 0-30.875-13.824219-30.875-30.875v-392.105469c0-17.050781 13.824219-30.871093 30.875-30.871093h303.597656c17.050782 0 30.875 13.820312 30.875 30.871093zm0 0" fill="#aa8452"></path><path d="m365.347656 89.019531v392.105469c0 17.054688-13.820312 30.875-30.875 30.875h-30.875c17.054688 0 30.875-13.820312 30.875-30.875v-392.105469c0-17.050781-13.820312-30.871093-30.875-30.871093h30.875c17.050782 0 30.875 13.820312 30.875 30.871093zm0 0" fill="#7f5c3e"></path><path d="m334.472656 93.136719c0-2.839844-2.304687-5.144531-5.148437-5.144531h-294.332031c-2.84375 0-5.148438 2.304687-5.148438 5.144531v382.84375c0 2.839843 2.304688 5.144531 5.148438 5.144531h294.335937c2.839844 0 5.144531-2.304688 5.144531-5.144531zm0 0" fill="#fff"></path><path d="m226.28125 52.484375v-37.046875c0-8.527344-6.914062-15.4375-15.4375-15.4375h-56.605469c-8.523437 0-15.433593 6.910156-15.433593 15.4375v37.046875zm0 0" fill="#ccc"></path><path d="m226.28125 15.4375v37.046875h-30.875v-37.046875c0-8.523438-6.90625-15.4375-15.4375-15.4375h30.875c8.53125 0 15.4375 6.914062 15.4375 15.4375zm0 0" fill="#a0a0a0"></path><path d="m104.839844 42.195312c-5.683594 0-10.289063 4.609376-10.289063 10.289063v50.429687c0 5.683594 4.605469 10.289063 10.289063 10.289063h155.402344c5.683593 0 10.289062-4.605469 10.289062-10.289063v-50.429687c0-5.683594-4.605469-10.289063-10.289062-10.289063zm0 0" fill="#e8e8e8"></path><path d="m443.386719 141.261719-15.144531-8.742188c-4.917969-2.839843-11.210938-1.15625-14.050782 3.765625l-12.855468 22.269532 10.699218 19.03125h22.257813l12.859375-22.273438c2.839844-4.917969 1.15625-11.210938-3.765625-14.050781zm0 0" fill="#db8733"></path><path d="m395.988281 155.46875 43.652344 25.203125c4.917969 2.839844 6.601563 9.128906 3.761719 14.050781l-10.285156 17.8125-42.347657-4.671875-19.117187-30.8125 10.285156-17.816406c2.84375-4.921875 9.132812-6.605469 14.050781-3.765625zm0 0" fill="#edaf54"></path><path d="m330.773438 389.804688h-38.25l-23.214844-35.484376 102.34375-177.269531 61.464844 35.484375zm0 0" fill="#ffd47d"></path><path d="m309.4375 419.269531-44.375 20.578125c-3.265625 1.515625-7.035156-.710937-7.292969-4.300781l-3.441406-48.214844c-.292969-4.097656.648437-8.191406 2.703125-11.75l12.277344-21.261719 61.464844 35.484376-12.175782 21.085937c-2.117187 3.671875-5.316406 6.59375-9.160156 8.378906zm0 0" fill="#edaf54"></path><g fill="#515759"><path d="m76.996094 430.007812c-1.820313 0-3.652344-.644531-5.121094-1.949218-3.1875-2.832032-3.476562-7.710938-.644531-10.894532l17.28125-19.460937c2.484375-2.796875 6.054687-4.375 9.800781-4.320313 3.742188.054688 7.269531 1.730469 9.675781 4.597657l11.882813 14.171875 14.195312-15.410156c2.433594-2.644532 5.875-4.148438 9.460938-4.148438h.136718c3.632813.039062 7.097657 1.621094 9.503907 4.347656l17.679687 20.011719c2.824219 3.195313 2.523438 8.070313-.671875 10.894531-3.195312 2.820313-8.074219 2.519532-10.894531-.675781l-15.792969-17.875-14.25 15.46875c-2.503906 2.722656-6.058593 4.21875-9.757812 4.144531-3.699219-.085937-7.183594-1.761718-9.558594-4.59375l-11.847656-14.132812-15.304688 17.230468c-1.523437 1.71875-3.640625 2.59375-5.773437 2.59375zm0 0"></path><path d="m291.886719 175.46875h-219.207031c-4.261719 0-7.71875-3.453125-7.71875-7.71875 0-4.261719 3.457031-7.71875 7.71875-7.71875h219.207031c4.265625 0 7.71875 3.453125 7.71875 7.71875s-3.453125 7.71875-7.71875 7.71875zm0 0"></path><path d="m165.304688 216.636719h-91.59375c-4.265626 0-7.722657-3.457031-7.722657-7.722657 0-4.261718 3.457031-7.71875 7.722657-7.71875h91.59375c4.261718 0 7.71875 3.457032 7.71875 7.71875 0 4.265626-3.457032 7.722657-7.71875 7.722657zm0 0"></path><path d="m237.34375 216.636719h-36.019531c-4.261719 0-7.71875-3.457031-7.71875-7.722657 0-4.261718 3.457031-7.71875 7.71875-7.71875h36.019531c4.261719 0 7.71875 3.457032 7.71875 7.71875 0 4.265626-3.457031 7.722657-7.71875 7.722657zm0 0"></path><path d="m147.808594 257.800781h-74.097656c-4.265626 0-7.71875-3.453125-7.71875-7.71875s3.453124-7.71875 7.71875-7.71875h74.097656c4.261718 0 7.71875 3.453125 7.71875 7.71875s-3.457032 7.71875-7.71875 7.71875zm0 0"></path><path d="m215.730469 257.800781h-34.988281c-4.265626 0-7.71875-3.453125-7.71875-7.71875s3.453124-7.71875 7.71875-7.71875h34.988281c4.265625 0 7.71875 3.453125 7.71875 7.71875s-3.457031 7.71875-7.71875 7.71875zm0 0"></path><path d="m127.226562 298.96875h-53.515624c-4.265626 0-7.722657-3.457031-7.722657-7.722656 0-4.261719 3.457031-7.71875 7.722657-7.71875h53.515624c4.261719 0 7.71875 3.457031 7.71875 7.71875 0 4.265625-3.457031 7.722656-7.71875 7.722656zm0 0"></path><path d="m215.730469 298.96875h-55.574219c-4.261719 0-7.71875-3.457031-7.71875-7.722656 0-4.261719 3.457031-7.71875 7.71875-7.71875h55.574219c4.265625 0 7.71875 3.457031 7.71875 7.71875 0 4.265625-3.457031 7.722656-7.71875 7.722656zm0 0"></path><path d="m127.226562 340.132812h-53.515624c-4.265626 0-7.722657-3.453124-7.722657-7.71875 0-4.261718 3.457031-7.71875 7.722657-7.71875h53.515624c4.261719 0 7.71875 3.453126 7.71875 7.71875 0 4.261719-3.457031 7.71875-7.71875 7.71875zm0 0"></path>
</g><path d="m270.535156 52.484375v50.429687c0 5.679688-4.613281 10.289063-10.292968 10.289063h-30.875c5.683593 0 10.292968-4.609375 10.292968-10.289063v-50.429687c0-5.679687-4.609375-10.289063-10.292968-10.289063h30.875c5.679687 0 10.292968 4.609376 10.292968 10.289063zm0 0" fill="#ccc"></path><path d="m443.40625 194.71875-10.285156 17.8125-26.738282-15.433594 10.285157-17.816406c2.839843-4.921875 1.15625-11.207031-3.761719-14.046875l26.738281 15.4375c4.917969 2.839844 6.601563 9.125 3.761719 14.046875zm0 0" fill="#db8733"></path><path d="m304.027344 374.375 102.347656-177.265625 26.738281 15.4375-102.351562 177.265625zm0 0" fill="#e89e46"></path><path d="m330.773438 389.804688-12.175782 21.089843c-2.117187 3.660157-5.316406 6.589844-9.164062 8.375l-44.367188 20.574219c-3.261718 1.515625-7.042968-.703125-7.300781-4.296875l-1.390625-19.507813 26.320312-12.207031c3.847657-1.785156 7.046876-4.714843 9.164063-8.375l12.171875-21.089843zm0 0" fill="#db8733"></path></svg></span>
                  <h5 class="u-text u-text-1">Paradigmas</h5>
                  <h6 class="u-text u-text-2">Encuesta</h6>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom-xs u-container-layout-2">
                  <div class="u-container-style u-custom-color-4 u-expanded-width u-group u-radius-30 u-shape-round u-group-1">
                    <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-3">
                      <h5 class="u-text u-text-default u-text-3">Los objetivos del tema se completaron y ...</h5>
                    </div>
                  </div>
                  <h1 class="u-text u-text-4">Encuesta</h1>
                  <div class="u-container-style u-group u-radius-15 u-shape-round u-white u-group-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-4">
                      <h6 class="u-text u-text-5">25% - Si<br>
                        <br>15% - No<br>
                        <br>60% - Si pero no se evaluaron
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-4 u-hidden-lg u-hidden-xl u-section-2" id="sec-cc03">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://nicepage.com/c/architecture-building-website-templates" class="u-align-center u-btn u-button-style u-custom-font u-font-lato u-none u-text-white u-btn-1"> &nbsp;</a>
        <a href="https://nicepage.com/c/architecture-building-website-templates" class="u-align-center u-btn u-button-style u-custom-font u-font-lato u-none u-text-white u-btn-2"><span class="u-icon u-icon-1"><svg class="u-svg-content" viewBox="-42 0 512 512.002" style="width: 1em; height: 1em;"><path d="m210.351562 246.632812c33.882813 0 63.222657-12.152343 87.195313-36.128906 23.972656-23.972656 36.125-53.304687 36.125-87.191406 0-33.875-12.152344-63.210938-36.128906-87.191406-23.976563-23.96875-53.3125-36.121094-87.191407-36.121094-33.886718 0-63.21875 12.152344-87.191406 36.125s-36.128906 53.308594-36.128906 87.1875c0 33.886719 12.15625 63.222656 36.132812 87.195312 23.976563 23.96875 53.3125 36.125 87.1875 36.125zm0 0"></path><path d="m426.128906 393.703125c-.691406-9.976563-2.089844-20.859375-4.148437-32.351563-2.078125-11.578124-4.753907-22.523437-7.957031-32.527343-3.308594-10.339844-7.808594-20.550781-13.371094-30.335938-5.773438-10.15625-12.554688-19-20.164063-26.277343-7.957031-7.613282-17.699219-13.734376-28.964843-18.199219-11.226563-4.441407-23.667969-6.691407-36.976563-6.691407-5.226563 0-10.28125 2.144532-20.042969 8.5-6.007812 3.917969-13.035156 8.449219-20.878906 13.460938-6.707031 4.273438-15.792969 8.277344-27.015625 11.902344-10.949219 3.542968-22.066406 5.339844-33.039063 5.339844-10.972656 0-22.085937-1.796876-33.046874-5.339844-11.210938-3.621094-20.296876-7.625-26.996094-11.898438-7.769532-4.964844-14.800782-9.496094-20.898438-13.46875-9.75-6.355468-14.808594-8.5-20.035156-8.5-13.3125 0-25.75 2.253906-36.972656 6.699219-11.257813 4.457031-21.003906 10.578125-28.96875 18.199219-7.605469 7.28125-14.390625 16.121094-20.15625 26.273437-5.558594 9.785157-10.058594 19.992188-13.371094 30.339844-3.199219 10.003906-5.875 20.945313-7.953125 32.523437-2.058594 11.476563-3.457031 22.363282-4.148437 32.363282-.679688 9.796875-1.023438 19.964844-1.023438 30.234375 0 26.726562 8.496094 48.363281 25.25 64.320312 16.546875 15.746094 38.441406 23.734375 65.066406 23.734375h246.53125c26.625 0 48.511719-7.984375 65.0625-23.734375 16.757813-15.945312 25.253906-37.585937 25.253906-64.324219-.003906-10.316406-.351562-20.492187-1.035156-30.242187zm0 0"></path></svg><img></span>&nbsp;
        </a>
        <a href="https://nicepage.com/c/architecture-building-website-templates" class="u-align-center u-btn u-button-style u-custom-font u-font-lato u-none u-text-white u-btn-3"><span class="u-icon u-icon-2"><svg class="u-svg-content" viewBox="0 0 422.912 422.912" x="0px" y="0px" style="width: 1em; height: 1em;"><g><g><path d="M370.176,67.584h-25.6V15.36c-0.266-8.37-6.99-15.094-15.36-15.36H86.528C59.382,0,37.376,22.006,37.376,49.152V373.76    c0,27.146,22.006,49.152,49.152,49.152h283.648c8.483,0,15.36-6.877,15.36-15.36V82.944    C385.536,74.461,378.659,67.584,370.176,67.584z M215.552,230.912l-36.864-30.208c-5.039-3.037-11.345-3.037-16.384,0    l-36.864,30.208V98.304h90.112V230.912z M313.856,67.584H86.528c-10.18,0-18.432-8.252-18.432-18.432    c0-10.18,8.252-18.432,18.432-18.432h227.328V67.584z"></path>
</g>
</g></svg><img></span>
        </a>
        <a href="https://nicepage.com/c/architecture-building-website-templates" class="u-align-center u-btn u-button-style u-custom-font u-font-lato u-none u-text-white u-btn-4"><span class="u-icon u-icon-3" data-animation-name="rubberBand" data-animation-duration="1000" data-animation-delay="0" data-animation-direction=""><svg class="u-svg-content" viewBox="0 0 24 24" style="width: 1em; height: 1em;"><path d="m23.619 10.849-11.1-10.64c-.29-.278-.748-.278-1.038 0l-11.111 10.651c-.235.235-.37.559-.37.89 0 .689.561 1.25 1.25 1.25h1.75v9.5c0 .828.672 1.5 1.5 1.5h4.25c.414 0 .75-.336.75-.75v-6.5c0-.137.112-.25.25-.25h4.5c.137 0 .25.113.25.25v6.5c0 .414.336.75.75.75h4.25c.828 0 1.5-.672 1.5-1.5v-9.5h1.75c.689 0 1.25-.561 1.25-1.25 0-.331-.135-.655-.381-.901z"></path></svg><img></span>
        </a>
      </div>
    </section>
    
    
    
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.com/static-site-generator" target="_blank">
        <span>Static Website Generator</span>
      </a>. 
    </section>
  </body>
</html>